<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ámsterdam | Café de Autor</title>
   <link rel="shortcut icon" href="Img/logo 1.jpg">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <header class="header">
    
    <div class="contenedor">
                <div class="barra">
                    <a class="logo" href="../index.html">
                        <h1 class="logo__nombre no-margin centrar-texto">Café<span class="logo__bold">Ámsterdam</span></h1>
                    </a>
    
        <nav class="navegacion">
            <a href="../views/promociones.html" class="navegacion__enlace">Promociones</a>
            <a href="../views/eventos.html" class="navegacion__enlace">Eventos</a>
            <a href="../views/blog.html" class="navegacion__enlace">Blog</a>
            <a href="../views/contacto.html" class="navegacion__enlace">Contacto</a>
        </nav> <!--ends nav-->
    </div>
        
        <div class="header__texto">
            <h2 class="no-margin">PROMOCIONES</h2>
            <p class="no-margin">Aprendé de los expertos con las mejores recetas y consejos</p>
        </div>
    </header><!--ends header-->
    
    </body>

    <main class="contenedor">
        <h3 class="centrar-texto">PROMOCIONES</h3>

        <div class="sobre-nosotros">
            <div class="sobre-nosotros__imagen">
                <img src="../Img/carrusel5.jpg" alt="imagen nosotros">
            </div>

            <div class="sobre-nosotros__texto">
                <p>Pellentesque lacus orci, mattis cursus est in, finibus sagittis mi. Sed iaculis elit et porta luctus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas lacinia est vitae eros posuere, non commodo justo viverra. Sed finibus id elit sit amet egestas. Nullam ac urna odio. Fusce vestibulum venenatis quam in scelerisque. Maecenas ultricies ultricies velit, non suscipit enim. Vivamus massa velit, lobortis fringilla laoreet in, suscipit vitae velit. Etiam at orci euismod magna rhoncus luctus. Curabitur viverra est ut elit gravida rutrum. Nullam eget viverra enim. Quisque vitae varius urna.</p>

                <p>Maecenas commodo erat ac elit elementum, ac eleifend arcu gravida. Donec commodo auctor augue, eget tempor dui fermentum in. Duis non enim vitae metus accumsan vehicula. Pellentesque egestas diam ut ante aliquet, sit amet fringilla odio interdum. In nec odio nec turpis faucibus sagittis. Sed quis tellus nec ante luctus aliquam sit amet vel mauris. Nunc vitae facilisis mauris, posuere tristique arcu. Praesent nisi urna, venenatis non laoreet</p>
            </div>
        </div>
    </main>

<!--Main and Tab-->

<footer class="footer">
    <div class="contenedor">
        <div class="barra">
            <a class="logo" href="index.html">
            <h1 class="logo__nombre no-margin centrar-texto">Café<span class="logo__bold">Ámsterdam</span></h1>
            </a>
        
        <nav class="navegacion">
        <a href="views/promociones.html" class="navegacion__enlace">Promociones</a>
    <a href="../views/eventos.html" class="navegacion__enlace">Eventos</a>
    <a href="../views/blog.html" class="navegacion__enlace">Blog</a>  
    <a href="../views/contacto.html" class="navegacion__enlace">Contacto</a>
        </nav>
        </div>
    </div>
</footer> <!--ends footer-->

</body>
</html>